@page "/"

<style>
    .test-scroller {
        overflow: auto;
        height: 100%;
    }

    .scroll-content {
        width: 1500px;
        height: 1000px;
    }
</style>

<p>Welcome to the Feature Portal!</p>