.start-loader {
    position: fixed;
    left: 50%;
    top: 30%;
}

    .start-loader-text {
        text-align: end;
        font-style: italic;
        font-weight: bold;
    }

    .start-loader-grid {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }

    .start-loader-grid div {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: gray;
        animation: start-loader-grid 1.2s linear infinite;
    }

        .start-loader-grid div:nth-child(1) {
            top: 8px;
            left: 8px;
            animation-delay: 0s;
        }

        .start-loader-grid div:nth-child(2) {
            top: 8px;
            left: 32px;
            animation-delay: -0.4s;
        }

        .start-loader-grid div:nth-child(3) {
            top: 8px;
            left: 56px;
            animation-delay: -0.8s;
        }

        .start-loader-grid div:nth-child(4) {
            top: 32px;
            left: 8px;
            animation-delay: -0.4s;
        }

        .start-loader-grid div:nth-child(5) {
            top: 32px;
            left: 32px;
            animation-delay: -0.8s;
        }

        .start-loader-grid div:nth-child(6) {
            top: 32px;
            left: 56px;
            animation-delay: -1.2s;
        }

        .start-loader-grid div:nth-child(7) {
            top: 56px;
            left: 8px;
            animation-delay: -0.8s;
        }

        .start-loader-grid div:nth-child(8) {
            top: 56px;
            left: 32px;
            animation-delay: -1.2s;
        }

        .start-loader-grid div:nth-child(9) {
            top: 56px;
            left: 56px;
            animation-delay: -1.6s;
        }

@keyframes start-loader-grid {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}
