@inherits ColumnComponentDataModel

<style>
    th.rotate {
        height: 140px;
        min-width: 120px;
        white-space: nowrap;
    }

        th.rotate > div {
            transform: translate(0px, 0px) rotate(315deg);
            width: 0px;
        }

            th.rotate > div > span {
                padding: 5px 10px;
            }

    .cell-selected {
        background-color: #b0bec5 !important;
        font-weight: bold;
    }

    .cell-active {
        background-color: #90a4ae !important;
        color: whitesmoke;
    }
</style>

@if (Column == null)
{
    <td>Empty</td>
}
else
{
    <th class="rotate @Column.ClassValue">
        <div><span>@Column.Name</span></div>
    </th>
}
