@inherits LayoutComponentBase

<style>
    .background-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
</style>

    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        @*<div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>*@

        <div class="content px-4 background-container">
            @Body
        </div>
    </div>
